.navbar-nav {
    margin-left: auto;
}

.navbar {
    padding: 20px;
}

/* logo size */
.social-logo {
    width: 30px; 
    height: 30px; 
}

.col-md-2 {
    text-align: left;
}

.col-md-6 {
    text-align: right;
    padding: 0px;
    margin-left: 550px;
    margin-top: 10px;
}

.col-md {
    text-align: center;
    margin-left: 40px;
    margin-right: 150px;
    padding: 0%;
}

/* delete button css */
.delete-button {
    background-color: #ff5555; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style the delete button on hover */
.delete-button:hover {
    background-color: #ff3333; /* Darker red on hover */
}
