.navbar-nav {
    margin-left: auto;
}

.navbar {
    padding: 20px;
}

/* logo size */
.social-logo {
    width: 30px; 
    height: 30px; 
}

.col-md-2 {
    text-align: left;
}

.col-md-6 {
    text-align: right;
    padding: 0px;
    margin-left: 550px;
    margin-top: 10px;
}

.col-md {
    text-align: center;
    margin-left: 40px;
    margin-right: 150px;
    padding: 0%;
}